



<div class="has-text-centered" *ngIf="appData.screenNames.length != 0">
  <div *ngFor="let screenName of appData.screenNames">
    <div class="columns is-centered is-vcentered">

      <div class="column is-2">
        <button class="button is-danger" (click)="removeScreenName(screenName.id)" style="margin-top: 1.5rem;">
          <span class="icon is-medium">
            <i class="fas fa-trash-alt"></i>
          </span>
        </button>
      </div>

      <div class="column is-5">
        <div class="field">
          <label class="label">Screen Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="username" value="{{screenName.name}}" (keyup)="unChange($event, screenName.id)" name="un{{screenName.id}}" #un>
          </div>
        </div>
      </div>

      <div class="column is-5">
        <label class="label">Games</label>
        <input list="gameList" (change)="onChange($event, screenName.id)" class="input" type="text" placeholder="start typing..">
        <datalist id="gameList">
          <option *ngFor="let name of gameNames" value="{{name.name}}">{{name.name}}</option>
        </datalist>
      </div>

    </div>
    <p class="help is-danger">{{screenName.error}}</p>
    <div class="field is-grouped is-grouped-multiline" *ngIf="screenName.games">
      <div class="control" *ngFor="let game of screenName.games">
        <div class="tags has-addons">
          <span class="tag is-info">{{game.name}}</span>
          <a class="tag is-delete" (click)="remove(screenName.id,game.id)"></a>
        </div>
      </div>
    </div>

    <hr>
  </div>
</div>

<div class="has-text-centered">
  <button class="button is-link" (click)="addNew()">Add a Screen Name</button>
</div>
