.circles-bg {
  /* background-image: url('../../assets/images/pinggCircles.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.login-box-inner {
  background-color: #292929;
  border: 10px solid #356700;
  border-radius: 10px;
  padding: 25px;
}

.login-box-outer {
  border: 14px solid #95EF72;
  border-radius: 24px;
  padding: 0px;
}

.anim-parent {
  position: absolute;
}

.anim-child {
  position: relative;
  top: 0;
  left: 0;
}
