<div class="modal-card login-box-outer">
  <div class="login-box-inner has-text-centered">
    <div style="margin-bottom: 30px;">
      <img src="../../assets/images/pingg_logo.png" width="250" height="95">
      <h2 class="subtitle">
        Where better matches are made.
      </h2>
    </div>
    <app-sign-in-buttons></app-sign-in-buttons>
  </div>
</div>

<!-- <div class="login-box-outer is-hidden-tablet is-hidden-desktop">
  <div class="login-box-inner has-text-centered">
    <img src="../../assets/images/pingg_logo.png" width="185" height="75">
    <h2 class="subtitle is-6">
      Where better matches are made.
    </h2>
    <app-sign-in-buttons></app-sign-in-buttons>
  </div>
</div> -->
