<div class="modal-background" (click)="closeModal()"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Report an Issue</p>
    <button class="delete" aria-label="close" (click)="closeModal()"></button>
  </header>
  <section class="modal-card-body has-text-dark">
    <p>Report an issue fields go here.</p>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="sendReport()">Send</button>
    <button class="button" (click)="closeModal()">Cancel</button>
  </footer>
</div>
