<div class="modal-background" (click)="closeModal()"></div>
<div class="modal-card" style="margin: 0px;">
  <header class="modal-card-head">
    <p class="modal-card-title">Report an Issue</p>
    <button class="delete" aria-label="close" (click)="closeModal()"></button>
  </header>
  <section class="modal-card-body has-text-dark">
    <textarea [disabled]="loading" class="textarea" id="issuefield" name="issue" placeholder="Describe the issue you're having..." #issue></textarea>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="sendReport()">Send</button>
    <button class="button" (click)="closeModal()">Cancel</button>
  </footer>
</div>
