<div class="card post-card">
  <div class="card-content is-dark">

    <div class="media-content">

      <nav class="level" style="padding: 0px 10px;">
        <div class="level-left">

          <div class="level-item">
            <a class="button is-danger">New Post</a>
          </div>

          <div class="level-item">
            <a class="button is-link">Edit Profile</a>
          </div>

          <div class="level-item">
            <a class="button is-inverted is-outlined">Search</a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">

            <p class="heading has-text-light has-text-right">
              Group 11
              <br>
              CS1530
              <br>
              Fall 2020
            </p>

          </div>
        </div>
      </nav>


    </div>

  </div>
</div>
