
<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <app-navbar></app-navbar>
</div>
<div class="hero-body content-bg" style="padding: 0px;">
  <div class="dashboard is-full-height">


  <div>
    <agm-map
    id="mapThingy"
    [styles]="styles"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="13"
    [disableDefaultUI]="false"
    style="width: 100vw; height: calc( 100vh - 57px )"
    (mapReady)="onMapReady($event)"

    #mapThingy
    name="mapThingy"
  >
</agm-map></div>

  </div>
</div>
