
<nav class="navbar is-dark" style="border-bottom: 5px solid #95EF72;">

  <!-- DESKTOP/WIDESCREEN VERSION -->
  <div class="navbar-brand is-hidden-touch">
    <a class="navbar-item {{ active('Feed') }}" (click)="setPage('Feed')">
      <img src="../../assets/images/pingg_logo_wide.png" alt="pingg: Feed" width="112" height="28">
      <span class="icon has-text-light is-hidden-touch">
        <i class="fas fa-newspaper"></i>
      </span>
      <span class="is-unselectable is-hidden-touch">&nbsp;Feed</span>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" (click)="this.showMenu = !this.showMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- TABLET/MOBILE VERSION -->
  <div class="navbar-brand is-hidden-desktop">
    <a class="navbar-item {{ active('Feed') }}" (click)="setPage('Feed')">
      <img src="../../assets/images/pingg_logo_wide.png" alt="pingg: Feed" width="112" height="28">
      <span class="icon has-text-light is-hidden-touch">
        <i class="fas fa-newspaper"></i>
      </span>
      <span class="is-unselectable is-hidden-touch">&nbsp;Feed</span>
    </a>
    <a class="navbar-item" *ngIf="!this.showSearchBox">
      <p class="subtitle is-size-7 is-unselectable">
        <b style="font-size: larger;">{{this.appData.navbarPage}}</b><br><i>{{description()}}</i>
      </p>
    </a>
    <div class="navbar-item" *ngIf="this.showSearchBox" style="margin-right: -25px;">
      <div class="field has-addons">
        <p class="control has-icons-left">
          <input class="input is-small is-dark" type="text" placeholder="Search">
          <span class="icon is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
        <button class="button is-small is-info" (click)="search()">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </div>
    </div>
    <a class="navbar-item" (click)="this.showSearchBox = !this.showSearchBox" *ngIf="!this.showSearchBox">
      <button class="button is-small is-info">
        <span class="icon">
          <i class="fas fa-search"></i>
        </span>
      </button>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>


  <div id="navbarExampleTransparentExample" class="navbar-menu {{ this.showMenu ? 'is-active':'' }}">

    <!-- DESKTOP/WIDESCREEN VERSION -->

    <div class="navbar-start is-hidden-touch">

      <a class="navbar-item {{ active('Map') }}" (click)="setPage('Map')">
        <span class="icon has-text-light">
          <i class="fas fa-map-marked-alt"></i>
        </span>
        <span class="is-unselectable">&nbsp;Map</span>
      </a>

      <a class="navbar-item {{ active('Connect') }}" (click)="setPage('Connect')">
        <span class="icon has-text-light">
          <i class="fas fa-address-card"></i>
        </span>
        <span class="is-unselectable">&nbsp;Connect</span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-hidden-mobile">
          <span class="is-unselectable">More</span>
        </a>

        <div class="navbar-dropdown is-left" style="background-color: #363636;">
          <a class="navbar-item {{ active('Profile') }}" (click)="setPage('Profile')">
            <span class="icon">
              <i class="fas fa-user-edit"></i>
            </span>
            <span class="is-unselectable">&nbsp;Profile</span>
          </a>
          <a class="navbar-item {{ active('Chat') }}" (click)="setPage('Chat')">
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="is-unselectable">&nbsp;Chat</span>
            <span class="red-number">5</span>
          </a>
          <a class="navbar-item">
            Report an issue
          </a>
          <a class="navbar-item" (click)="logout()">
            Logout
          </a>
        </div>
      </div>
      <p class="navbar-item subtitle is-hidden-touch is-unselectable" style="margin-left: 10px;"><b style="font-size: x-large;">{{this.appData.navbarPage}}</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i>{{description()}}</i></p>
    </div>

    <!-- TABLET/MOBILE VERSION -->

    <div class="navbar-start is-hidden-desktop">
      <a class="navbar-item {{ active('Feed') }}" (click)="setPage('Feed')">
        <span class="icon has-text-light">
          <i class="fas fa-newspaper"></i>
        </span>
        <span class="is-unselectable has-text-light">&nbsp;Feed</span>
      </a>

      <a class="navbar-item {{ active('Map') }}" (click)="setPage('Map')">
        <span class="icon has-text-light">
          <i class="fas fa-map-marked-alt"></i>
        </span>
        <span class="is-unselectable has-text-light">&nbsp;Map</span>
      </a>

      <a class="navbar-item {{ active('Connect') }}" (click)="setPage('Connect')">
        <span class="icon has-text-light">
          <i class="fas fa-address-card"></i>
        </span>
        <span class="is-unselectable has-text-light">&nbsp;Connect</span>
      </a>


      <a class="navbar-item {{ active('Profile') }}" (click)="setPage('Profile')">
        <span class="icon has-text-light">
          <i class="fas fa-user-edit has-text-light"></i>
        </span>
        <span class="is-unselectable has-text-light">&nbsp;Profile</span>
      </a>
      <a class="navbar-item {{ active('Chat') }}" (click)="setPage('Chat')">
        <span class="icon has-text-light">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="is-unselectable has-text-light">&nbsp;Chat</span>
        <span class="red-number">5</span>
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item has-text-light">
        Report an issue
      </a>
      <a class="navbar-item has-text-light" (click)="logout()">
        Logout
      </a>

    </div>

    <div class="navbar-end is-hidden-touch">
      <div class="navbar-item field has-addons">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Search">
          <span class="icon is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
