.images {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

li {
  flex: 0 0 auto;
  margin: 5px;
}

example-viewport {
  height: auto;
  width: 100%;
  border: 1px solid white;
}

.example-item {
  height: auto;
}
