.game-image {
  height: 266px;
  border-radius: 4px;
  padding: 0px;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  -ms-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  /* border: 2px solid whitesmoke; */
}

.game-container {
  position: relative;
}

.game-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 4px;
  transition: .1s;
  background-color: #00000090;
}

.game-container:hover .game-overlay {
  opacity: 1;
}

.game-container:hover .game-image {
  opacity: 1;
}

.game-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-text-title {
  font-size: 24px;
}
