<div class="modal-background" (click)="requestClose()"></div>
<div class="modal-card" style="margin: 0px;">
  <header class="modal-card-head">
    <p class="modal-card-title">New Post</p>
    <button class="delete" aria-label="close" (click)="requestClose()"></button>
  </header>
  <section class="modal-card-body has-text-dark">

    <div *ngIf="!this.game">
      <label class="label">Choose a Game</label>
      <input list="gameList" (change)="onChange($event)" class="input" type="text" placeholder="start typing.." [disabled]="this.game">
      <datalist id="gameList">
        <option *ngFor="let name of gameNames" value="{{name.name}}">{{name.name}}</option>
      </datalist>
    </div>

    <nav class="level" style="margin-top: 1.0rem;">
      <div class="level-left">
        <div class="level-item" *ngIf="game && game?.coverURL">
          <img style="max-height: 96px;" src="https://{{game?.coverURL}}">
        </div>
        <div class="level-item">
          <p class="subtitle has-text-dark" style="font-weight: bolder;">
            {{game?.name}}
          </p>
        </div>

      </div>
      <div class="level-right">
        <div class="level-item" *ngIf="this.game">
          <button class="button is-small is-danger" (click)="removeGame()">
            <span class="icon is-small">
              <i class="fas fa-trash-alt"></i>
            </span>
          </button>
        </div>
      </div>
    </nav>

    <textarea class="textarea is-link" placeholder="What's on your mind..." [disabled]="!this.game" style="margin-bottom: 1.0rem;" (focus)="changePost($event)" (focusout)="changePost($event)" name="postTextBox" #postTextBox></textarea>
    <label class="label" *ngIf="this.game && !appData.file" style="margin-top: 0.5rem;">Attach an Image...</label>
    <app-uploader *ngIf="this.game"></app-uploader>
    <!-- <p class="help">Feel free to add a video link, we'll do our best to fetch a thumbnail!</p> -->
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success {{isLoading() ? 'is-loading':''}}" (click)="sendPost()" [disabled]="isDisabled()">Post</button>
    <button class="button" (click)="requestClose()">Cancel</button>
  </footer>
</div>
