<div class="modal-background"></div>
<div class="modal-card" style="margin: 0px;">
  <header class="modal-card-head">
    <p class="modal-card-title">{{getTitle()}}</p>
    <button class="delete" aria-label="close" *ngIf="canCancel()" (click)="cancel()"></button>
  </header>
  <section class="modal-card-body has-text-dark">
    <app-onboarding-steps></app-onboarding-steps>

    <div style="margin-top: 2.0rem;" *ngIf="this.appData.onboardingPage == 0">
      <app-ob-basic></app-ob-basic>
    </div>

    <div style="margin-top: 2.0rem;" *ngIf="this.appData.onboardingPage == 1">
      <app-ob-screen-names></app-ob-screen-names>
    </div>

    <div style="margin-top: 2.0rem;" *ngIf="this.appData.onboardingPage == 2">
      <app-ob-customize></app-ob-customize>
    </div>

  </section>
  <footer class="modal-card-foot">
    <button class="button" [disabled]="this.appData.onboardingPage <= firstPage" (click)="leftButtonClick()">{{leftButtonText()}}</button>
    <button class="button is-success" (click)="rightButtonClick()" [disabled]="this.rightButtonDisabled()">{{rightButtonText()}}</button>
  </footer>
</div>
