
<div class="field">
  <label class="label">First Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="John" (keyup)="fnChange($event)" name="fn" #fn>
  </div>
  <p class="help is-danger">{{fnError}}</p>
</div>

<div class="field">
  <label class="label">Last Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Smith" (keyup)="lnChange($event)" name="ln" #ln>
  </div>
  <p class="help is-danger">{{lnError}}</p>
</div>

<label class="label">Choose a Username</label>
<div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="daCaptain1530" (keyup)="unChange($event)" name="un" #un>
  </div>
  <div class="control">
    <button class="button is-link {{loading ? 'is-loading':''}}" [disabled]="loading" (click)="validateUsername()">
      Verify
    </button>
  </div>
</div>
<p class="help is-danger">{{unError}}</p>
<p class="help is-success">{{unSuccess}}</p>
