<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <app-navbar></app-navbar>
</div>

<div class="hero-body content-bg" style="padding: 0px;">
  <div class="dashboard is-full-height">

    <div class="dashboard-main is-scrollable is-dark" style="max-width: 100%; overflow-x: hidden;" name="scrollable" #scrollable>
      <div style="display: inline-block;">


        <section class="section">
          <div class="container" style="margin-bottom: 100px;">
            <div class="card post-card">
              <div class="card-content is-dark">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img style="border-radius: 50%; margin-right: 2px;" src="https://avatars.dicebear.com/api/bottts/{{this.user.avatarVal}}.svg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-2 has-text-light">{{user.firstName}} {{user.lastName}}</p>
                    <p class="subtitle is-4 has-text-light">@{{user.handle}}</p>
                    <p class="subtitle is-6 has-text-light" style="font-weight: bolder;">Last Online:&nbsp;&nbsp;{{user?.lastLogin | relativeTime}}</p>
                  </div>
                </div>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item {{this.doesFollow() ? 'is-active':''}}" *ngIf="!usersOwnProfile" (click)="changeFollow()">
                  <span class="icon is-medium" style="color: #95EF72;">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  Follow
                </a>
                <a class="card-footer-item" *ngIf="usersOwnProfile" (click)="editProfile()">
                  <span class="icon is-medium" style="color: #95EF72;">
                    <i class="fas fa-user-edit"></i>
                  </span>
                  Edit Profile
                </a>
                <a class="card-footer-item" shareButton="facebook">
                  <span class="icon is-medium" style="color: #95EF72;">
                    <i class="fab fa-facebook"></i>
                  </span>
                  Share
                </a>
                <a class="card-footer-item" shareButton="twitter">
                  <span class="icon is-medium" style="color: #95EF72;">
                    <i class="fab fa-twitter"></i>
                  </span>
                  Share
                </a>
              </footer>
            </div>



            <div class="columns">
              <div class="column is-half">


                <div class="card post-card">
                  <div class="card-content is-dark">
                    <p class="title is-3 has-text-light">Following {{getFollowing().length > 0 ? '('+getFollowing().length+')':''}}</p>
                    <p *ngIf="!getFollowing() || getFollowing().length == 0" class="subtitle" style="margin: 50px">🙁 Nothing just yet...</p>
                    <ul class="users">
                      <li *ngFor="let person of getFollowing()"><app-user-cell [user]="person"></app-user-cell></li>
                    </ul>
                  </div>
                </div>


              </div>
              <div class="column is-half">


                <div class="card post-card">
                  <div class="card-content is-dark">
                    <p class="title is-3 has-text-light">
                      Followers {{followers?.length > 0 ? '('+followers.length+')':''}}
                    </p>
                    <p *ngIf="!followers || followers.length == 0" class="subtitle" style="margin: 50px">🙁 Nothing just yet...</p>
                    <ul class="users">
                      <li *ngFor="let person of followers"><app-user-cell [user]="person"></app-user-cell></li>
                    </ul>
                  </div>
                </div>


              </div>
            </div>



            <div class="card post-card">
              <div class="card-content is-dark">
                <p class="title is-3 has-text-light">Screen Names</p>
                <div *ngIf="user && user.screenNames">

                  <div *ngIf="screenNamesIsArray()">
                    <div *ngFor="let name of user.screenNames" class="columns is-vcentered">
                      <div class="column is-2 has-text-centered">
                        <p class="heading" style="font-size: x-large; color: whitesmoke; text-transform: none;">{{name.name}}</p>
                      </div>
                      <div class="column is-10">
                        <p *ngIf="!name.games || name.games.length == 0" class="subtitle" style="margin: 50px">🙁 Nothing just yet...</p>
                        <ul class="images-grid" *ngIf="name.games">
                          <li *ngFor="let game of name.games">
                              <app-game-card-small [game]="game"></app-game-card-small>
                          </li>
                        </ul>
                      </div>
                      <hr *ngIf="user.screenNames[user.screenNames.length-1].id !== name.id">
                    </div>
                  </div>

                  <div *ngIf="!screenNamesIsArray()" class="columns is-vcentered">
                    <div class="column is-2 has-text-centered">
                      <p class="heading" style="font-size: x-large; color: whitesmoke; text-transform: none;">{{user?.screenNames?.name}}</p>
                    </div>
                    <div class="column is-10">
                      <p *ngIf="!user?.screenNames?.games || user?.screenNames?.games.length == 0" class="subtitle" style="margin: 50px">🙁 Nothing just yet...</p>
                      <ul class="images-grid" *ngIf="user?.screenNames?.games">
                        <li *ngFor="let game of user?.screenNames?.games">
                            <app-game-card-small [game]="game"></app-game-card-small>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>










            <div class="card post-card">
              <div class="card-content is-dark">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-3 has-text-light">Following Games {{games?.length > 0 ? '('+games.length+')':''}}</p>
                    <ul class="images">
                      <p *ngIf="!games || games.length == 0" class="subtitle" style="margin: 50px">🙁 Nothing just yet...</p>
                      <li *ngFor="let game of games" class="">
                        <app-game-card [game]="game"></app-game-card>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <app-feed [userID]="this.user.id" *ngIf="this.user && this.user.id && this.posts"></app-feed>


          </div>
        </section>


      </div>
    </div>

  </div>
</div>
