<section class="section">
  <div class="container" style="margin-bottom: 100px;">
    <div class="card post-card">
      <div class="card-content is-dark">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img style="border-radius: 50%; margin-right: 2px;" src="https://avatars.dicebear.com/api/bottts/{{this.rand}}.svg">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-2 has-text-light">John Smith</p>
            <p class="subtitle is-4 has-text-light">@johnsmith</p>
            <p class="subtitle is-6 has-text-light" style="font-weight: bolder;">Last Online:&nbsp;&nbsp;<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card post-card">
      <div class="card-content is-dark">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 has-text-light">Recent Posts</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card post-card">
      <div class="card-content is-dark">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 has-text-light">Followers</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card post-card">
      <div class="card-content is-dark">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 has-text-light">Following</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card post-card">
      <div class="card-content is-dark">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 has-text-light">Favorite Games</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card post-card">
      <div class="card-content is-dark">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 has-text-light">Channels</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
