<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <app-navbar></app-navbar>
</div>

<div class="hero-body content-bg" style="padding: 0px;">
  <div class="dashboard is-full-height">

    <div class="dashboard-main is-scrollable is-dark" style="max-width: 100%; overflow-x: hidden;">
      <div style="display: inline-block;">


        <section class="section">
          <div class="container" style="margin-bottom: 100px;">
            <div class="card post-card">
              <div class="card-content is-dark">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img style="border-radius: 50%; margin-right: 2px;" src="https://avatars.dicebear.com/api/bottts/{{this.user.avatarVal}}.svg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-2 has-text-light">{{user.firstName}} {{user.lastName}}</p>
                    <p class="subtitle is-4 has-text-light">{{user.handle}}</p>
                    <p class="subtitle is-6 has-text-light" style="font-weight: bolder;">Last Online:&nbsp;&nbsp;<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card post-card">
              <div class="card-content is-dark">
                <p class="title is-3 has-text-light">Screen Names</p>
              </div>
            </div>


            <div class="card post-card">
              <div class="card-content is-dark">
                <p class="title is-3 has-text-light">Followers</p>
                <ul class="users">
                  <li *ngFor="let person of followers"><app-user-cell [user]="person" routerLink="/profile/{{person.id}}"></app-user-cell></li>
                </ul>
              </div>
            </div>

            <div class="card post-card">
              <div class="card-content is-dark">
                <p class="title is-3 has-text-light">Following</p>
                <ul class="users">
                  <li *ngFor="let person of following"><app-user-cell [user]="person" routerLink="/profile/{{person.id}}"></app-user-cell></li>
                </ul>
              </div>
            </div>

            <div class="card post-card">
              <div class="card-content is-dark">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-3 has-text-light">Favorite Games</p>
                    <ul class="images">
                      <li *ngFor="let game of games">
                        <app-game-card [game]="game" [routerLink]="'/games/'+game.id"></app-game-card>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <app-post-cell *ngFor="let post of posts" [post]="post"></app-post-cell>


          </div>
        </section>


      </div>
    </div>

  </div>
</div>
