.post-card {
  border-radius: 15px;
  margin-bottom: 25px;
  background-color: #363636;
}

a {
  color: #95EF72;
}

.content-bg {
  background-color: #232324;
}


.images {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.users {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

li {
  flex: 0 0 auto;
  margin: 5px;
}
