/* .circles-bg {
  background-image: url('../assets/images/pinggCircles.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.content-bg {
  background-color: #232324;
}

.content-fg {
  background-color: #292929;
}
