<section class="hero is-centered is-dark is-fullheight">


  <div class="modal is-active is-hidden-mobile" *ngIf="!(this.appData?.isAuthenticated) || !(this.appData?.isOnboarded)" style="padding: 0px">
    <ng-lottie
          width="150vh"
          height="150vh"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
  </div>

  <div class="modal is-active is-hidden-desktop is-hidden-tablet" *ngIf="!(this.appData?.isAuthenticated) || !(this.appData?.isOnboarded)" style="padding: 0px;">
    <ng-lottie
          width="200vw"
          height="200vw"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
  </div>

  <div class="modal is-active" style="margin: 10px;" *ngIf="!(this.appData.isAuthenticated)">
    <app-login-box></app-login-box>
  </div>

  <div class="modal is-active" *ngIf="(this.appData.isAuthenticated) && !(this.appData.isOnboarded)">
    <app-onboarding-modal></app-onboarding-modal>
  </div>

  <div *ngIf="this.appData?.isAuthenticated">


    <div class="modal {{this.appData?.reportingIssue ? 'is-active':''}}">
      <app-report-issue></app-report-issue>
    </div>

    <div class="modal {{this.appData?.newPostModalOpen ? 'is-active':''}}">
      <app-new-post-modal></app-new-post-modal>
    </div>

    <div class="modal {{this.appData?.newChannelModalOpen ? 'is-active':''}}">
      <app-new-channel-modal></app-new-channel-modal>
    </div>

    <div class="modal {{this.appData?.searchBarOpen ? 'is-active':''}}">
      <app-search-bar></app-search-bar>
    </div>

    <router-outlet></router-outlet>


  </div>



</section>
