<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body bars-bg" *ngIf="!(this.appData.isAuthenticated)">
    <div class="container">
          <app-login-box *ngIf="!(this.appData.isAuthenticated)"></app-login-box>
    </div>
  </div>

  <div class="hero-body" *ngIf="this.appData.isAuthenticated" style="padding: 0px;">
    <app-sidebar class="is-hidden-mobile" style="height: -webkit-fill-available; min-width: 200px"></app-sidebar>
    <div style="display: inline-block;">
      <div class="columns is-centered">
        <div class="column is-10">
          <div class="container">
            <router-outlet *ngIf="this.appData.isAuthenticated"></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
