<section class="hero is-centered is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <app-navbar *ngIf="this.appData?.isAuthenticated"></app-navbar>
  </div>


  <div class="modal is-active is-hidden-mobile" *ngIf="!(this.appData?.isAuthenticated)" style="padding: 0px">
    <ng-lottie
          width="150vh"
          height="150vh"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
  </div>

  <div class="modal is-active is-hidden-desktop is-hidden-tablet" *ngIf="!(this.appData?.isAuthenticated)" style="padding: 0px;">
    <ng-lottie
          width="200vw"
          height="200vw"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
  </div>

  <div class="modal is-active" style="margin: 10px;" *ngIf="!(this.appData.isAuthenticated)">
    <app-login-box></app-login-box>
  </div>

  <div class="modal {{this.appData?.reportingIssue ? 'is-active':''}}">
    <app-report-issue></app-report-issue>
  </div>

  <div class="hero-body content-bg" *ngIf="this.appData?.isAuthenticated && this.appData?.navbarPage !== 'Map'" style="padding: 0px;">
    <div class="dashboard is-full-height">

      <app-sidebar class="is-hidden-mobile" style="height: -webkit-fill-available; min-width: 200px"></app-sidebar>

      <div class="dashboard-main is-scrollable is-dark" style="max-width: 100%; overflow-x: hidden;">
        <div style="display: inline-block;">
          <router-outlet></router-outlet>
        </div>
      </div>

      <!-- <div *ngIf="this.appData?.navbarPage !== 'Connect'" class="dashboard-main is-scrollable is-dark" style="max-width: 100%; overflow-x: hidden;">
        <div style="display: inline-block;">
          <div class="columns is-centered">
            <div class="column is-three-quarters content-fg">
              <div class="container" style="margin-bottom: 60px;">
                <router-outlet *ngIf="this.appData?.isAuthenticated"></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>

  <div class="hero-body content-bg" *ngIf="this.appData?.isAuthenticated && this.appData?.navbarPage === 'Map'" style="padding: 0px;">
    <router-outlet *ngIf="this.appData?.isAuthenticated"></router-outlet>
  </div>

</section>