<!-- left panel -->
<div class="dashboard-panel is-medium has-thick-padding is-hidden-mobile" style="height: 100%; width: 100%; background-color: #292929;">
  <!-- <header class="dashboard-panel-header">
    <div class="has-text-centered">
      <img src="../../assets/images/StockManagerLogoV1.png" width="100px" height="100px" style="margin-left: 50px; margin-right: 50px;">
    </div>
  </header> -->

  <div class="dashboard-panel-content">

    <aside class="menu has-text-light">

      <!-- <div *ngFor="let menu of getMenu()">
        <p class="menu-label">{{menu.section}}</p>
        <div *ngFor="let link of menu.links">
          <li><a>{{link}}</a></li>
        </div>
      </div> -->

      <ul class="menu-list">
        <li><a class="is-active">Main Feed</a></li>
      </ul>
      <br>

      <p class="menu-label">
        Sort By
      </p>

      <ul class="menu-list">
        <li><a>Top Rated</a></li>
        <li><a>Most Rated</a></li>
        <li><a>Newest</a></li>
        <li><a>Oldest</a></li>
      </ul>

      <br>
      <p class="menu-label">
        Filter By
      </p>

      <ul class="menu-list">
        <li><a>Genre</a></li>
        <li><a>Platform</a></li>
      </ul>

      <br><br>

    </aside>
  </div>
</div>
