<!-- left panel -->
<div class="dashboard-panel is-medium has-thick-padding is-hidden-mobile" style="height: 100%; width: 100%; background-color: #292929;">
  <!-- <header class="dashboard-panel-header">
    <div class="has-text-centered">
      <img src="../../assets/images/StockManagerLogoV1.png" width="100px" height="100px" style="margin-left: 50px; margin-right: 50px;">
    </div>
  </header> -->

  <div class="dashboard-panel-content is-scrollable">

    <aside class="menu has-text-light">

      <div *ngIf="this.title === 'Feed'">
        <button class="button is-danger" style="margin-bottom: 20px;" (click)="newPost()">
          <span class="icon">
            <i class="fas fa-pencil-alt"></i>
          </span>
          <span>New Post</span>
        </button>
        <br>
        <button class="button is-info" (click)="newChannel()">
          <span class="icon">
            <i class="fas fa-hashtag"></i>
          </span>
          <span>New Channel</span>
        </button>

        <div *ngFor="let title of getTitles()">
          <p class="menu-label" style="margin-top: 1.5em;">
            {{title}}
          </p>
          <ul class="menu-list" *ngIf="channels.length > 0">
            <div *ngFor="let channel of channels">
              <li><a class="{{ channel === activeChannel ? 'is-active':'' }}" (click)="channelClicked(channel)">{{channel}}</a></li>
            </div>
          </ul>
        </div>
      </div>

      <br><br>

    </aside>
  </div>
</div>
