

<div class="columns">


  <div class="column is-one-fifth">
    <app-game-card *ngFor="let game of col1" [game]="game"></app-game-card>
  </div>

  <div class="column is-one-fifth">
    <app-game-card *ngFor="let game of col2" [game]="game"></app-game-card>
  </div>

  <div class="column is-one-fifth">
    <app-game-card *ngFor="let game of col3" [game]="game"></app-game-card>
  </div>

  <div class="column is-one-fifth">
    <app-game-card *ngFor="let game of col4" [game]="game"></app-game-card>
  </div>

  <div class="column is-one-fifth">
    <app-game-card *ngFor="let game of col5" [game]="game"></app-game-card>
  </div>



</div>
