.post-card {
  border-radius: 15px;
  margin-bottom: 25px;
  background-color: #363636;
}

a {
  color: #95EF72;
}

.vote-box {
  margin-left: 1.0rem;
}

.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('../../assets/images/upvote.png');
  background-position: 0 -25px;
}


.vote.on {
  background-position: 0 2px;
}


.images-grid {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.grid-image {
  margin: 8px;
}
