<div class="columns is-hidden-touch is-vcentered">
  <div class="column is-1 is-centered has-text-centered">

    <div class="subtitle is-4" style="font-weight: bolder;">
      <span class="vote {{this.voted ? 'on':''}}" (click)="this.vote()"></span>
      <br>
      <a></a>{{votes}}
    </div>
  </div>

  <div class="column is-11">
    <div class="card post-card">
      <div class="card-content is-dark">


        <div class="columns is-mobile is-vcentered">
          <div class="column is-2" style="width: 12%">
            <ul class="images-grid">
              <li class="grid-image"><app-game-card-small [game]="post?.game"></app-game-card-small></li>
            </ul>
          </div>
          <div class="column is-10">
            <div class="media" style="margin-bottom: 0.5rem;">
              <div class="media-left">
                <img routerLink="/profile/{{post?.user?.id}}" src="https://avatars.dicebear.com/api/bottts/{{post?.user?.avatarVal}}.svg" style="width: 50px; height: 50px;">
              </div>
              <div class="media-content">


                <p class="subtitle is-6 has-text-light" style="margin-bottom: 0.0rem;">
                  <a style="color: #95EF72; font-weight: bolder;" routerLink="/profile/{{post?.user?.id}}">@{{post?.user.handle}}</a> ⋅ {{post?.time | relativeTime}}
                </p>


                <p class="subtitle is-5 has-text-light" style="padding-right: 1.0rem; margin-top: 0.5rem; margin-bottom: 1.0rem">
                  {{post?.text}}
                </p>

              </div>
            </div>

            <app-lazy-image
              *ngIf="post.imageURL"
              [srcURL]="post?.imageURL"
              [maxHeight]="600"
              [maxWidth]="600"
            >
            </app-lazy-image>

          </div>
        </div>


      </div>
      <footer class="card-footer">
        <a class="card-footer-item">
          <span class="icon is-medium" style="color: #95EF72;">
            <i class="fas fa-pencil-alt"></i>
          </span>
          Add Comment
        </a>
        <a class="card-footer-item">
          <span class="icon is-medium" style="color: #95EF72;">
            <i class="fas fa-comments"></i>
          </span>
          View Comments (0)
        </a>
      </footer>
    </div>


  </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


<div class="columns is-mobile is-vcentered is-hidden-desktop">
  <div class="column is-2 has-text-centered">

    <div class="subtitle is-4" style="font-weight: bolder;">
      <span class="vote {{this.voted ? 'on':''}}" (click)="this.vote()"></span>
      <br>
      {{votes}}
    </div>
  </div>

  <div class="column is-10">
    <div class="card post-card">
      <div class="card-content is-dark">


        <div class="columns is-mobile is-vcentered">
          <div class="column is-half">
            <app-user-cell [user]="post?.user"></app-user-cell>
          </div>
          <div class="column is-half images-grid">
            <li class="grid-image"><app-game-card-small [game]="post?.game"></app-game-card-small></li>
          </div>

        </div>

        <p class="body has-text-light" style="padding-right: 1.0rem; margin-bottom: 2.0rem">
          {{post?.text}}
        </p>

        <app-lazy-image
          *ngIf="post.imageURL"
          [srcURL]="post?.imageURL"
          [maxHeight]="600"
          [maxWidth]="600"
        >
        </app-lazy-image>

  </div>
</div>
