
<div *ngIf="this.loading">
  <button class="button is-large is-text is-loading"></button>
</div>

<firebase-ui
    (signInSuccessWithAuthResult)="successCallback($event)"
    (signInFailure)="errorCallback($event)"
    (uiShown)="uiShownCallback()"></firebase-ui>
<br>

<span>
  <button class="button is-small is-danger is-outlined is-inverted" (click)="reportIssue()" style="margin-right: 15px;">
    Report an Issue
  </button>

  <button class="button is-small is-info is-outlined is-inverted" (click)="bypassLogin()">
    Bypass Login
  </button>
</span>
