<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="columns is-centered">

        <div class="column is-half">

          <app-login-box></app-login-box>

          <div *ngIf="!isHome()">
            <h1 class="title">
              {{ this.appData.navbarPage }}
            </h1>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>
