<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="columns is-centered">

        <div class="column is-half">

          <div *ngIf="isHome()">
            <img src="../../assets/images/pingg_logo.png" width="250" height="95">
            <h2 class="subtitle">
              Where better matches are made.
            </h2>
          </div>

          <br>

          <div *ngIf="isHome() && !(this.appData.isAuthenticated)">
            <div class="box" style="background-color: #356700;">
              <h2 class="title">
                Login
              </h2>
            </div>
          </div>

          <div *ngIf="!isHome()">
            <h1 class="title">
              {{ this.appData.navbarPage }}
            </h1>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>
