<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <app-navbar></app-navbar>
</div>


<div class="hero-body content-bg" style="padding: 0px;">
  <div class="dashboard is-full-height">

    <div class="dashboard-main is-scrollable is-dark" style="max-width: 100%; overflow-x: hidden;">
      <div style="display: inline-block;">


        <section class="section">
          <div class="container" style="margin-bottom: 100px;">

            <div class="card post-card">
              <div class="card-content is-dark">

                <div class="media-content">

                  <nav class="level" style="padding: 0px 10px;">
                    <div class="level-left">
                      <div class="level-item">
                        <a class="button is-danger">New Post</a>
                      </div>
                    </div>
                    <div class="level-right">
                      <div class="level-item">
                        <div class="field has-addons">
                          <p class="control">
                            <a class="button is-info is-selected">
                              Newest
                            </a>
                          </p>
                          <p class="control">
                            <a class="button">
                              Popular
                            </a>
                          </p>
                          <p class="control">
                            <a class="button">
                              Trending
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </nav>


                </div>

              </div>
            </div>




            <div *ngFor="let number of nums">
              <app-post-cell></app-post-cell>
            </div>


            <app-footer-card></app-footer-card>

          </div>
        </section>


      </div>
    </div>

  </div>
</div>




<!-- <p>Post #{{number}}</p>
<p>Here is some text as the contents of this post. Here is some text as the contents of this post.
  Here is some text as the contents of this post. Here is some text as the contents of this post.
  Here is some text as the contents of this post.</p> -->
