<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <app-navbar></app-navbar>
</div>


<div class="hero-body content-bg" style="padding: 0px;">
  <div class="dashboard is-full-height">

    <div class="dashboard-main is-scrollable is-dark" style="max-width: 100%; overflow-x: hidden;">
      <div style="display: inline-block;">


        <section class="section">
          <div class="container" style="margin-bottom: 100px;">

            <app-feed [main]="true"></app-feed>

          </div>
        </section>


      </div>
    </div>

  </div>
</div>




<!-- <p>Post #{{number}}</p>
<p>Here is some text as the contents of this post. Here is some text as the contents of this post.
  Here is some text as the contents of this post. Here is some text as the contents of this post.
  Here is some text as the contents of this post.</p> -->
