<section class="section">
  <div class="container" style="margin-bottom: 100px;">

    <div class="field has-addons" style="margin-bottom: 20px;">
      <p class="control">
        <a class="button is-info is-selected">
          Newest
        </a>
      </p>
      <p class="control">
        <a class="button">
          Oldest
        </a>
      </p>
      <p class="control">
        <a class="button">
          Popular
        </a>
      </p>
      <p class="control">
        <a class="button">
          Trending
        </a>
      </p>
    </div>

    <div *ngFor="let number of nums">
      <app-post-cell></app-post-cell>
    </div>
  </div>
</section>



<!-- <p>Post #{{number}}</p>
<p>Here is some text as the contents of this post. Here is some text as the contents of this post.
  Here is some text as the contents of this post. Here is some text as the contents of this post.
  Here is some text as the contents of this post.</p> -->
