<section class="section">
  <div class="container" style="margin-bottom: 100px;">
    <p class="title">Recommended for you...</p>
    <app-game-card-list></app-game-card-list>
    <p class="title">Genre - Arcade</p>
    <app-game-card-list></app-game-card-list>
    <p class="title">Genre - First-Person Shooter (FPS)</p>
    <app-game-card-list></app-game-card-list>
    <p class="title">Genre - Fantasy</p>
    <app-game-card-list></app-game-card-list>
    <p class="title">Genre - Role-Playing Game (RPG)</p>
    <app-game-card-list></app-game-card-list>
  </div>
</section>
