ul.images {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

li {
  flex: 0 0 auto;
  margin: 5px;
}

img {
  max-height: 600px;
}

.post-card {
  border-radius: 15px;
  margin-bottom: 25px;
  background-color: #363636;
}

.content-bg {
  background-color: #232324;
}

.card-footer {
  border-top: 1px solid #95EF72;
}

.card-footer-item {
  /* background-color: #232324; */
  color: whitesmoke;
}

.card-footer-item:hover {
  background-color: #171717;
  color: whitesmoke;
  font-weight: bolder;
}

.card-footer-item.is-active {
  background-color: #171717;
  color: whitesmoke;
  font-weight: bolder;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid #95EF72;
}

.heading {
  margin-bottom: 1.0rem;
}

.level {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
