<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <app-navbar></app-navbar>
</div>

<div class="hero-body content-bg" style="padding: 0px;">
  <div class="dashboard is-full-height">

    <div class="dashboard-main is-scrollable is-dark" style="max-width: 100%; overflow-x: hidden;" name="scrollable" #scrollable>
      <div style="display: inline-block;">
        <section *ngIf="game" class="section">
          <div class="container" style="margin-bottom: 100px;">

            <div class="card post-card">
              <div class="card-content is-dark">
                <h1 class="title is-1">
                  {{game?.name}}
                  <!-- {{game?.name?.split(' - ')[0] + (game?.name?.split(' - ')?.length > 1 ? ' -':'')}}<br *ngIf="game?.name?.split(' - ')?.length > 1">{{game?.name?.split(' - ')[1]}} -->
                </h1>
                <div class="columns is-centered is-vcentered has-text-light">
                  <div class="column has-text-centered is-centered" style="max-width: 264px;">
                    <img src="https://{{game?.coverURL}}">
                  </div>
                  <div class="column has-text-light" style="margin-right: 20px;">
                    <nav class="level has-text-centered">
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Rating</p>
                          <p class="title">{{game?.rating | number}} / 100</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Followers</p>
                          <p class="title">123</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Genres</p>
                          <div class="tags has-text-centered" style="max-width: 200px;">
                            <span *ngFor="let genre of game?.genres" class="tag is-warning">
                              {{genre}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Platforms</p>
                          <div class="tags" style="max-width: 200px;">
                            <span *ngFor="let platform of game?.platforms" class="tag is-danger">
                              {{platform}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </nav>
                    <div *ngFor="let p of game?.description.split('\n')">
                      <p style="margin-top: 10px">{{p}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item">
                  <span class="icon has-text-light is-medium">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                  New Post
                </a>
                <a class="card-footer-item" (click)="rateGame()">
                  <span class="icon has-text-light is-medium">
                    <i class="fas fa-star"></i>
                  </span>
                  Rate Game
                </a>

                <a class="card-footer-item {{this.isFollowedLocally == true ? 'is-active':''}}" (click)="changeFollow()">
                  <span class="icon has-text-light is-medium">
                    <i class="fas fa-rss"></i>
                  </span>
                  Follow{{this.isFollowedLocally && this.isFollowedLocally == true ? 'ing':''}}
                </a>
              </footer>
            </div>

            <div class="card post-card" *ngIf="this.game?.screenshots?.length > 0">
              <div class="card-content is-dark">
                <p class="title is-3 has-text-light">Screenshots</p>
                <ul class="images">
                  <li *ngFor="let item of this.game?.screenshots"><img src="https://{{item}}"></li>
                </ul>
              </div>
            </div>

            <div class="card post-card" *ngIf="this.game?.videos?.length > 0">
              <div class="card-content is-dark">
                <p class="title is-3 has-text-light">Trailers and Gameplay</p>
                <ul class="images">
                  <li *ngFor="let item of this.game?.videos">
                    <youtube-player [videoId]="item.split('watch?v=')[1]"></youtube-player>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card post-card" *ngIf="this.recommended?.length > 0">
              <div class="card-content is-dark">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-3 has-text-light">Recommended Games</p>
                    <ul class="images">
                      <li *ngFor="let similar of recommended">
                        <app-game-card [game]="similar" [routerLink]="['/games/'+similar.id]"></app-game-card>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </section>
      </div>
    </div>


  </div>
</div>
