<div class="media" style="margin-bottom: 0.5rem;">
  <div class="media-left">
    <img routerLink="/profile/{{post?.user?.id}}" src="https://avatars.dicebear.com/api/bottts/{{post?.user?.avatarVal}}.svg" style="width: 30px; height: 30px;">
  </div>
  <div class="media-content">


    <p class="subtitle is-7 has-text-light" style="margin-bottom: 0.0rem;">
      <a style="color: #95EF72; font-weight: bolder;" routerLink="/profile/{{post?.user?.id}}">@{{post?.user.handle}}</a> ⋅ {{post?.time | relativeTime}}
    </p>


    <p class="subtitle is-6 has-text-light" style="padding-right: 1.0rem; margin-top: 0.5rem; margin-bottom: 1.0rem">
      {{post?.text}}
    </p>

  </div>
</div>
